header{
    margin-bottom: 4%;
}

img{
    width: 25%;
}

i{
    font-size: 20px;
}

.icone-redes{
    font-size: 30px;
}

.anchor{
    position: absolute;
    transform: translateY(-30vh);
}

@media screen and (max-width: 900px) {
    header{
        margin-bottom: 12%;
    }
}